<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="desafio pokemono" src="../assets/img/logo-pk.png" />
  <span>{{title}}</span>
</div>

<div class="content" role="main">



<div class=" mdc-card mdc-card--outlined carta" *ngFor="let name of names;let i=index">



<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>{{ name }}</mat-card-title>
	</mat-card-header>
		<img src="{{ cards[i] }}" />
	<mat-card-footer>	
	<label class="id" >id: {{ ids[i] }}</label>
	
	<label class="tipo">Tipo: {{ tipos[i] }}</label>
	</mat-card-footer>
</mat-card>
	
</div>
 

</div>

